:root {
    --accent-color-darker: #2f119d;
    --accent-color: #3F16D5;
    --accent-bg: #3f16d51a;
    --secondary: #656565;
    --light: #C2C2C2;
}
html, body {
    margin: 0;
    padding: 0;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 90px;
}
.main-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: var(--accent-color);
    letter-spacing: calc(32px * 0.21);
    font-size: 32px;
    line-height: 38px;
}
.main-title span {
    transition: all 0.1s ease-in-out;
}
.main-title:hover span {
    font-size: 38px;
}
#header #links {
    display: flex;
    align-items: center;
}
#header #avatar {
    width: 49px;
    height: 49px;
    border-radius: 50%;
}
.btn-accent {
    display: block;
    background: var(--accent-color);
    color: #fff;
    padding: 13.5px 19px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    border-radius: 8px;
    border: 0;
    transition: all 0.15s ease-in-out;
}
.btn-accent:hover {
    background: var(--accent-color-darker);
}
.btn-sm {
    font-size: 12px;
    padding: 9px 15px;
}
.btn-rounded {
    border-radius: 100px;
}
.btn-unfocused {
    background: #fff;
    color: #000;
    border: 1px solid var(--light);
}
.btn-unfocused:hover {
    background: var(--accent-color);
    color: #fff;
    border: 1px solid var(--light);
}
.ms-2 {
    margin-left: 8px;
}
.mt-4 {
    margin-top: 40px;
}
.px-2 {
    padding-left: 12px;
    padding-right: 12px;
}
.py-2 {
    padding-top: 12px;
    padding-bottom: 12px;
}
.px-4 {
    padding-left: 24px;
    padding-right: 24px;
}
.text-center {
    text-align: center;
}
.text-uppercase {
    text-transform: uppercase;
}
.w-100 {
    width: 100%;
}
.header-link {
    color: #000;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    margin-right: 45px;
}
.login-card {
    border-radius: 30px;
    padding: 45px;
    box-shadow: 0 4px 17px #0000002b;
    min-width: min(350px, calc(100vw - 90px - 50px));
    max-width: 600px;
}
.screen-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtitle-default {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.form-login p {
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}
.form-login p label {
    position: absolute;
    top: 5px;
    left: 16px;
    font-family: "PT Serif", serif;
    color: #403a4b99;
    font-size: 10px;
}
.form-login input {
    display: block;
    width: calc(100% - 16px - 50px);
    border: 0;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 50px;
    background: var(--accent-bg);
    border-radius: 7px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
}
.errorlist {
    list-style: none;
    margin: 0;
    padding: 0;
}
.errorlist li {
    margin: 0;
    padding: 10px 13px;
    border-radius: 8px;
    border: 3px solid var(--accent-bg);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.main-title-header {
    padding: 16px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-title-header-data {
    display: flex;
    align-items: end;
}
.main-title-header-data h1 {
    margin: 0;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: calc(70px * 0.02);
}
.main-title-header-data p {
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 7px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: calc(16px * (-0.02));
    color: var(--secondary);
}
.main-title-header-buttons {
    display: flex;
    align-items: center;
}
