:root {
    --accent-color: #3F16D5;
    --accent-bg: #3f16d51a;
}

html,
body {
    margin: 0;
    padding: 0;
}

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}

.pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
}

.montserrat-900 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 90px;
}
.main-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: var(--accent-color);
    letter-spacing: calc(32px * 0.21);
    font-size: 32px;
}
#header #links {
    display: flex;
    align-items: center;
}
#header #avatar {
    width: 49px;
    height: 49px;
    border-radius: 50%;
}
.accent-button {
    display: block;
    background: var(--accent-color);
    color: #fff;
    padding: 13.5px 19px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    border-radius: 8px;
    border: 0;
}
.ms-2 {
    margin-left: 8px;
}
.header-link {
    color: #000;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    margin-right: 45px;
}

.login-card {
    border-radius: 30px;
    padding: 45px;
    box-shadow: 0 4px 17px #0000002b;
    min-width: min(350px, calc(100vw - 90px - 50px));
}

.screen-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle-default {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.mt-4 {
    margin-top: 40px;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.form-login p {
    position: relative;
    margin-top: 20px;
    margin-bottom: 0;
}
.form-login p label {
    position: absolute;
    top: 5px;
    left: 16px;
    font-family: "PT Serif", serif;
    color: #403a4b99;
    font-size: 10px;
}
.form-login input {
    display: block;
    width: calc(100% - 16px - 50px);
    border: 0;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 50px;
    background: var(--accent-bg);
    border-radius: 7px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.w-100 {
    width: 100%;
}

.btn-sm {
    font-size: 12px;
}