<div class="container-x mb-4">
    <section class="main-title-header">
        <div class="main-title-header-data">
            <h1>{{ title }}</h1>
            {% if date_start %}
                <p>{{ date_start }} — {{ date_end }}</p>
                <button class="btn-accent btn-rounded btn-sm ms-2">📅</button>
            {% endif %}
            
            {% if backward_url %}
            <div class="main-title-header-buttons" style="padding-bottom: 10px; padding-left: 30px;">
                {% for form in employee.students_forms.all %}
                <a class="btn-accent btn-rounded btn-sm px-4 ms-2 {% if form != students_form %}btn-unfocused{% endif %}" href="{% url 'activities:main_with_id' form_id=form.id %}">{{ form.title }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% if backward_url %}
        <a class="btn-accent btn-rounded btn-sm px-4 ms-2" href="{% url backward_url %}">Назад</a>
        {% else %}
        <div class="main-title-header-buttons">
            {% for form in employee.students_forms.all %}
            <a class="btn-accent btn-rounded btn-sm px-4 ms-2 {% if form != students_form %}btn-unfocused{% endif %}" href="{% url 'activities:main_with_id' form_id=form.id %}">{{ form.title }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </section>
</div>